
@model IEnumerable<hub.mvc.ViewModel.EmployeeViewModel>

<h2 class="container-fluid mb-lg-5 text-center text-secondary">Employee Directory</h2>

<div class="container mb-lg-5">
    <form asp-controller="Home" asp-action="Index" method="post">
        <div class="input-group">
            <input type="text" class="form-control" name="SearchEmployee" placeholder="Search phone numbers." />
            <div class="input-group-append">
                <button class="btn btn-secondary" type="button">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
    </form>
</div>


<h5 class="container-fluid text-sm-left text-success">
    @Model.Count() employee(s).
</h5>

<div class="table-responsive">
    <table class="table table-borderless table-striped table-hover">
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="10">No Record Found.</td>
            </tr>
        }
        else
        {
            <thead>
                <tr class="kp-table-header-darkgrey">
                    <th scope="col">Name</th>
                    <th scope="col">Location</th>
                    <th scope="col">Email</th>
                    <th scope="col">Department</th>
                    <th scope="col">Title</th>
                    <th scope="col">Phone</th>
                </tr>
            </thead>
            @foreach (var employee in Model)
            {
                <tr>
                    <td>@employee.Name</td>
                    <td>@employee.Location</td>
                    <td>@employee.Email</td>
                    <td>@employee.Department </td>
                    <td>@employee.JobTitle </td>
                    <td>@employee.Phone</td>
                </tr>
            }
        }
    </table>
</div>
